<div class="container">

  <!-- Error message -->
  <div *ngIf="showError" class="alert alert-danger">
    User not found
  </div>

  <!-- Search -->
  <div class="card card-body mb-4">
    <h2>Search GitHub Users</h2>
    <p class="lead">Enter a username to fetch a user profile and repos</p>
    <div class="input-group">
      <input [(ngModel)]="username" type="text" class="form-control mr-1" placeholder="GitHub Username...">
      <input type="button" value="Search" class="btn btn-dark" (click)="getProfile(username)">
    </div>
  </div>

  <!-- Profile - can be later moved into another component -->
  <div *ngIf="profile" class="search card card-body mb-4">

    <div class="card card-body mb-3">
      <div class="row">
        <div class="col-md-3 mb-2 text-center">
          <img class="img-fluid mb-2" src="{{profile.avatar_url}}">
          <a href="{{profile.html_url}}" target="_blank" class="btn btn-primary btn-block">View Profile</a>
        </div>
        <div class="col-md-9">
          <span class="badge badge-primary mb-1 mr-1">Public Repos: {{profile.public_repos}}</span>
          <span class="badge badge-secondary mb-1 mr-1">Public Gists: {{profile.public_gists}}</span>
          <span class="badge badge-success mb-1 mr-1">Followers: {{profile.followers}}</span>
          <span class="badge badge-info mb-1 mr-1">Following: {{profile.following}}</span>
          <br>
          <ul class="list-group mt-1">
            <li class="list-group-item"><strong>Company</strong>: {{profile.company}}</li>
            <li class="list-group-item"><strong>Website/Blog</strong>: <a href="{{profile.blog}}"
                target="_blank">{{profile.blog}}</a></li>
            <li class=" list-group-item"><strong>Location</strong>: {{profile.location}}</li>
            <li class="list-group-item"><strong>Member Since</strong>: {{profile.created_at.substring(0, 10)}}</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Repos -->
    <ng-container *ngIf="repos">
      <h3 class="page-heading mb-3">Latest Repos ({{repos.length}})</h3>
      <div *ngFor="let repo of repos" class="card card-body mb-2">
        <div clas="row">
          <div class="col-md-6 mb-1">
            <a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a> <br>
            <strong>Owner: </strong> {{repo.owner.login}} <br>
            <strong>Lastest commit (SHA): </strong> {{repo.latestCommit}} <br>
          </div>
          <div class="col-md-6">
            <span class="badge badge-primary mb-1 mr-1">Stars: {{repo.stargazers_count}}</span>
            <span class="badge badge-secondary mb-1 mr-1">Watchers: {{repo.watchers_count}}</span>
            <span class="badge badge-success mb-1 mr-1">Forks: {{repo.forks_count}}</span>
          </div>
        </div>
      </div>
    </ng-container>

  </div>

</div>